.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background-color: white;
  text-align: center;
  margin: 90px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}